{% extends 'admin/base.html' %}
{% block title %}Categorías{% endblock %}

{% block content %}
<h2>Categorías</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha Creación</th>
        </tr>
    </thead>
    <tbody>
        {% for c in categorias %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.fecha_creacion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
